body {
  background-color: black;
}
h1{
    text-align: center;
    color: royalblue;
}
.menu{
    border: 1px solid skyblue;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
}

.title.\--xl-large {
    display: block;
    color: greenyellow;
    position: relative;
    font-size: 5rem;
    letter-spacing: 10px;
}

.title.\--xl-large:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 60%;
    height: 4px;
    background-color: #111;
}


.level-winner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7rem;
    background-color: #111;
    text-align: center;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all 250ms ease;
}
  
.game-over .level-winner {
    opacity: 1;
    pointer-events: all;
}

button {
    background-color: transparent;
    color:greenyellow;
    border: none;
    outline: none;
    cursor: pointer;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    background-color:royalblue;
    width: 50px;
    height: 50px ;
    text-align: center;
    box-shadow: 
    0 0 2px 2px #fff,
    0 0 2px 2px rgba(0, 119, 255, 0.808);
    
}

.x {
    background-color:paleturquoise;
}

p{
    color:coral;
    font-size: 20px;
}
a{
    color:cyan;
    text-decoration: none;
    cursor: pointer;
}

.pink{
    border-radius: 50%;
    background-color:violet;
    box-shadow: 
    0 0 5px 5px #fff,
    0 0 5px 5px #f0f;
    padding: 5px 22px 5px 5px;
}

.orange{
    border-radius: 50%;
    padding: 5px 22px 5px 5px;
    background-color:orange;
    box-shadow: 
    0 0 5px 5px #fff,
    0 0 5px 5px rgba(255, 187, 0, 0.658);
}

.king.pink{
    background-color:deeppink;
}

.king.orange{
    background-color:rgb(139, 75, 14);
}

.player-score {
    text-align: center;
}

.player-score *{
    color:hotpink;
    display: inline-block;
    width: 49%;
}

.board{
    text-align: center;
}


.turn-info p{
    color:yellow;
    text-align: left;
}
.turn-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}



