h1{
    text-align: center;
}
.menu{
    border: 1px solid skyblue;
    border-width: 1px 0;
    list-style: none;
    text-align: center;
    padding: 15px 0px 15px 0px;
    display: flex;
    justify-content: space-around;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.player-score {
    text-align: center;
}

.player-score *{
    display: inline-block;
    width: 49%;
}

.board{
    text-align: center;
}


.turn-info p{
    text-align: left;
}
.turn-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

